{% extends "base.html"%}

{% block titulo%}
    Registrar usuario
{% endblock %}

{% block contenido%} 
    <div class="m-5 text-center">
        <form action="" method="post" novalidate>
            {{ frm.hidden_tag() }}
            
            <div class="mb-3">
                {{frm.nombre.label}}
                {{frm.nombre}}
                {% for error in frm.nombre.errors %}
                    <div>
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{frm.apellido.label}}
                {{frm.apellido}}
                {% for error in frm.apellido.errors %}
                    <div>
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{frm.cedula.label}}
                {{frm.cedula}}
                {% for error in frm.cedula.errors %}
                    <div>
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{frm.celular.label}}
                {{frm.celular}}
                {% for error in frm.celular.errors %}
                    <div>
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <!--{{frm.id_cat.label}}
                {{frm.id_cat}}
                {% for error in frm.id_cat.errors %}
                    <div>
                        {{error}}
                    </div>
                {% endfor %}-->
                <label for="id_cat">Categorias</label>
                <select name="id_cat" id="id_cat">
                    <option value="">Selecciona la categoria ...</option>
                    {% for c in categorias %}
                        <option value="{{c.id}}" {% if id_categoria == c.id %} selected {% endif %}>{{c.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                {{frm.contraseña.label}}
                {{frm.contraseña}}
                {% for error in frm.contraseña.errors %}
                    <div>
                        {{error}}
                    </div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ frm.guardar }}
            </div>
        </form>
    </div>
    {% for msg in get_flashed_messages() %}
        <div>
            {{ msg }}
        </div>
    {% endfor %}

{% endblock %}